# PortoEx - Variáveis de Ambiente

# Chave secreta do Flask 
SECRET_KEY= 

# Configurações de debug
DEBUG=False
FLASK_ENV=production

# Porta da aplicação
PORT=5000

# URL do banco de dados SQLite
DATABASE_URL=sqlite:///sistema_logs.db

# Configurações de sessão
SESSION_PERMANENT=true
PERMANENT_SESSION_LIFETIME=604800

# APIs externas (se necessário)
OPENROUTE_API_KEY=5b3ce3597851110001cf6248a355ae5a9ee94a6ca9c6d876c7e4d534
MELHOR_ENVIO_TOKEN=

# Configurações de produção
WERKZEUG_RUN_MAIN=true 