Flask==2.3.3
pandas==2.1.1
openpyxl==3.1.2
requests==2.31.0
fpdf2==2.7.5
python-dotenv==1.0.0
polyline==2.0.0
matplotlib==3.7.2
Werkzeug==2.3.7
Jinja2==3.1.2
gunicorn==21.2.0
xlsxwriter==3.1.6
unicodedata2==15.1.0 